* {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /*font-weight: 900;
  font-variation-settings: "ROND" 0;*/
}

body { 
  background-color: #292929;
  color: rgb(218, 218, 218); 
  text-align: center; 
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
} 

#wrapper { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
} 

#heading_text { 
  margin-bottom: 50px; 
  font-size: 4rem; 
  color: rgb(218, 218, 218);
  font-weight: 600;
  font-variation-settings: "ROND" 75;
} 

#header { 
  display: flex; 
  align-items: center; 
} 

#time, #errors, #accuracy, 
#cpm, #wpm { 
  background-color: #292929; 
  height: 60px;
  width: 120px;
  margin: 8px; 
  padding: 18px;  
  font-weight: 200;
} 

#cpm, #wpm { 
  display: block; 
} 

.header_text { 
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  font-variation-settings: "ROND" 75;
} 

#time, #errors, 
#accuracy, #cpm, 
#wpm { 
  font-size: 2.75rem; 
  margin-top: -10px;
} 


#click_below { 
  font-size: 1.5rem; 
  padding: 15px 15px 7px 15px; 
  color: rgb(218, 218, 218);
} 

#default_text { 
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 600;
  font-variation-settings: "ROND" 75;
  word-spacing: 7px;
  margin: 10px; 
  padding: 15px 300px;
  color: rgb(94, 94, 94);
} 

#input_area { 
  opacity: 0;
  background-color: #e21e1e56; 
  height: 180px; 
  width: 80%; 
  font-size: 1.5rem; 
  font-weight: 600; 
  margin: -155px; 
  padding: 20px; 
  border: 0px; 
  z-index: 900;
} 

#restart_button { 
  display: none; 
  margin-top: 200px;
  background-color: #6157bd56; 
  color: rgb(218, 218, 218);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px; 
  border: 0px;
  border-radius: 12px;
  cursor: pointer;
  transition: opacity 100ms;
}

#restart_button:hover { 
  opacity: 0.8;
}

#restart_button:focus { 
  opacity: 0.6;
}

.incorrect { 
  color: rgba(214, 78, 78, 0.685);
  text-decoration: line-through; 
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; 
} 

.correct { 
  color: rgb(218, 218, 218);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; 
  text-decoration: underline;
  /*border-right: #292929 solid 1px;*/
}